//colors prodigious
$green_p: #8EC642;
$orange_p: #f79622;
$blue_p: #11b6e0;
$red_p: #ff0C24;
$yellow_p: #F29322;
$gray_p: #666666;
$grayLight: #d9d9d9;
$purple_p: #982347;
//color
$white: #ffffff;
$blue: #004d99; 
$black: #000000; 
//font
$baseFont: 'Titillium Web', sans-serif;